SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 10.0
TARGETED_DEVICE_FAMILY = 1,2

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
INFOPLIST_FILE = STHUDDemo/STHUDDemo-Info.plist
PRODUCT_BUNDLE_IDENTIFIER = au.com.tabcorp.STHUD
PRODUCT_NAME = $(TARGET_NAME)
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

SIMULATOR_ONLY_ADDITIONAL_LDFLAGS[sdk=iphonesimulator*] = -fprofile-instr-generate
OTHER_LDFLAGS = -framework STHUD $(SIMULATOR_ONLY_ADDITIONAL_LDFLAGS)
FRAMEWORK_SEARCH_PATHS = $(inherited)

CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM =
